@import url("https://fonts.googleapis.com/css2?family=Aleo&family=Josefin+Sans:wght@300;400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header__block-title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;
}

.header__block-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.31em;
  margin: 8px auto 48px;
}

.subtitle {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
}

* {
  box-sizing: border-box;
}

body {
  background: #333333;
  color: #FFFFFF;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  min-width: 375px;
  max-width: 1920px;
  margin: 0 auto;
}

.wrapper {
  margin: 0 auto;
}
@media screen and (max-width: 1920px) {
  .wrapper {
    max-width: 1320px;
  }
}
@media screen and (max-width: 1360px) {
  .wrapper {
    padding: 0 110px;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    padding: 0 32px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    padding: 0 24px;
  }
}
@media screen and (max-width: 576px) {
  .wrapper {
    padding: 0 18px;
  }
}

.footer {
  background: #000000;
}

.header {
  background-image: url(../../images/img/HeaderBackground.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  height: 100vh;
  position: relative;
}
.header__block {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 18px;
  width: 100%;
  position: absolute;
  top: 31%;
  left: 50%;
  transform: translate(-50%);
}
.header__btn {
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translate(-50%);
}

.search {
  display: flex;
  margin: 0 auto;
  background: #FFFFFF;
  width: 647px;
}
@media screen and (max-width: 767px) {
  .search {
    width: 100%;
  }
}
.search__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 5px 4px 36px;
  width: 100%;
}
.search__form-item {
  border: none;
  color: #999999;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 576px) {
  .search__form-item {
    width: 100%;
  }
}
.search__form-item:focus {
  outline: auto;
  color: #999999;
  background: #FFFFFF;
}
.search__form-search {
  margin-left: auto;
}

.navigation {
  background: #5373FD;
  padding: 32px 0;
  position: relative;
}
@media screen and (max-width: 767px) {
  .navigation {
    padding: 30px 0;
  }
}
.navigation .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 900px) {
  .navigation .nav-container {
    flex-direction: column;
    gap: 30px;
  }
}
@media screen and (max-width: 767px) {
  .navigation .nav-container {
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__list-item:not(:first-child) {
  margin-left: 40px;
}

.mobile {
  display: none;
  background: #5373FD;
  width: 100%;
  height: 40px;
  color: #FFFFFF;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.mobile #check-menu {
  display: none;
}
.mobile #check-menu:checked ~ .mobile__menu {
  max-height: 300px;
  font-size: 16px;
  background: #5373FD;
}
.mobile #check-menu:checked ~ .first {
  display: none;
}
.mobile #check-menu:checked ~ .second {
  transform: rotate(45deg);
}
.mobile #check-menu:checked ~ .third {
  transform: rotate(-45deg);
}
.mobile #check-menu:checked ~ .fourth {
  display: none;
}
@media screen and (max-width: 767px) {
  .mobile {
    display: block;
  }
}
.mobile__inner {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  width: 100%;
  cursor: pointer;
}
.mobile .burger {
  position: absolute;
  top: 0;
  right: 24px;
  width: 40px;
  height: 2px;
  background: #FFFFFF;
  transition: all 200ms;
}
.mobile .second,
.mobile .third {
  top: 13px;
}
.mobile .fourth {
  top: 26px;
}
.mobile__menu {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  transition: all 300ms;
}
.mobile__menu .item {
  display: block;
  width: 100%;
  padding: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #5373FD;
}
.mobile__menu .item:hover {
  color: #333333;
  transition: all 200ms ease-in;
}

.section-why {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../images/img/WhyBackground.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  padding: 124px 0;
}
@media screen and (max-width: 900px) {
  .section-why {
    padding: 60px 0;
  }
}
.section-why__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .section-why__container {
    flex-direction: column-reverse;
    text-align: center;
    gap: 32px;
  }
}
.section-why__container .inner {
  max-width: 48%;
}
@media screen and (max-width: 1024px) {
  .section-why__container .inner {
    max-width: 57%;
  }
}
@media screen and (max-width: 900px) {
  .section-why__container .inner {
    max-width: 720px;
  }
}
.section-why__container .inner__text {
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.1em;
  margin: 24px 0 32px;
}
.section-why__container .block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 461px;
  max-width: 42%;
}
@media screen and (max-width: 1024px) {
  .section-why__container .block {
    width: 386px;
    max-width: 41%;
  }
}
@media screen and (max-width: 900px) {
  .section-why__container .block {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 720px;
    gap: 24px;
  }
}
.section-why__container .block .img {
  display: block;
  width: 100%;
  max-width: 350px;
}
.section-why__container .block .img-first {
  margin-right: auto;
}
.section-why__container .block .img-second {
  margin-left: auto;
}

.steps {
  background: #333333;
  position: relative;
  padding: 81px 0 44px;
}
@media screen and (max-width: 768px) {
  .steps {
    padding: 60px 0;
  }
}
.steps__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .steps__container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
.steps__block {
  text-align: center;
  width: 30%;
}
@media screen and (max-width: 768px) {
  .steps__block:nth-child(2) {
    margin: 60px auto;
  }
}
@media screen and (max-width: 768px) {
  .steps__block {
    width: 100%;
  }
}

.block__icon {
  display: inline-block;
  border-radius: 50%;
  padding: 16px;
}
.block__icon .icon {
  width: 64px;
  height: 64px;
  background-color: transparent;
  margin-bottom: 20px;
}
.block__icon .search {
  color: #5373FD;
}
.block__icon .select {
  color: #FF6363;
  position: relative;
  z-index: 3;
}
.block__icon .enjoy {
  color: #00A2FF;
}

.contain {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 66%;
}
@media screen and (max-width: 768px) {
  .contain {
    display: none;
  }
}
.contain__circle {
  width: 47%;
  height: 69px;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .contain__circle {
    height: 57px;
  }
}
.contain__circle-line {
  width: 41vw;
  height: 78vh;
  border: 1px dashed #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-24%);
}
@media screen and (max-width: 1360px) {
  .contain__circle-line {
    width: 42vw;
    height: 78vh;
    transform: translate(-20%);
  }
}
@media screen and (max-width: 1024px) {
  .contain__circle-line {
    width: 51vw;
    height: 83vh;
    transform: translate(-22%);
  }
}

.first-now {
  background-image: url(../../images/img/render.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  display: flex;
  padding: 220px 0 120px;
}
@media screen and (max-width: 1024px) {
  .first-now {
    padding: 120px 0;
  }
}
.first-now .description {
  background: rgba(35, 35, 35, 0.9);
  padding: 44px 32px;
  max-width: 48%;
}
@media screen and (max-width: 1024px) {
  .first-now .description {
    max-width: 58%;
  }
}
@media screen and (max-width: 768px) {
  .first-now .description {
    max-width: 100%;
  }
}
.first-now .description__country {
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1em;
}
.first-now .description__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 16px 0;
}
.first-now .description__text {
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.1em;
}
.first-now .description__btn {
  font-size: 16px;
  padding: 20px 56px;
  margin-top: 24px;
  letter-spacing: 0.07em;
}
.first-now .description__btn:hover {
  background: #FFFFFF;
  color: #333333;
  transition: all 300ms ease-in-out;
}

.second-now {
  background-image: url(../../images/img/spain.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  padding: 220px 0 120px;
}
@media screen and (max-width: 1024px) {
  .second-now {
    padding: 120px 0;
  }
}
.second-now__inner {
  display: flex;
  flex-direction: row-reverse;
}
@media screen and (max-width: 768px) {
  .second-now__inner {
    flex-direction: row;
  }
}
.second-now__inner .description {
  background: rgba(35, 35, 35, 0.9);
  padding: 44px 32px;
  max-width: 48%;
}
@media screen and (max-width: 1024px) {
  .second-now__inner .description {
    max-width: 58%;
  }
}
@media screen and (max-width: 768px) {
  .second-now__inner .description {
    max-width: 100%;
  }
}
.second-now__inner .description__country {
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1em;
}
.second-now__inner .description__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 16px 0;
}
.second-now__inner .description__text {
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.1em;
}
.second-now__inner .description__btn {
  font-size: 16px;
  padding: 20px 56px;
  margin-top: 24px;
  letter-spacing: 0.07em;
}
.second-now__inner .description__btn:hover {
  background: #FFFFFF;
  color: #333333;
  transition: all 300ms ease-in-out;
}

.what-say {
  background-image: url(../../images/img/BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  padding: 120px 0 180px;
}
@media screen and (max-width: 768px) {
  .what-say {
    padding: 60px 0 120px;
  }
}
.what-say__container {
  margin: 0 auto;
}
.what-say__container .subtitle {
  text-align: center;
}

.review {
  width: 100%;
  display: flex;
  margin-top: 60px;
}
@media screen and (max-width: 768px) {
  .review {
    flex-direction: column;
    align-items: center;
  }
}
.review__picture {
  width: 33%;
}
@media screen and (max-width: 768px) {
  .review__picture {
    width: 100%;
    height: 336px;
  }
}
.review__picture-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.review__inner {
  background: #333333;
  max-width: 67%;
  padding: 48px 60px;
}
@media screen and (max-width: 768px) {
  .review__inner {
    max-width: 100%;
  }
}
.review__inner-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
}
.review__block {
  position: relative;
}
.review__block .icon {
  width: 20px;
  height: 20px;
  color: #5373FD;
  float: left;
  position: absolute;
  top: -5px;
}
.review__block-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
  margin-top: 16px;
  text-indent: 30px;
}

.footer__block {
  padding: 80px 0;
  text-align: center;
}
.footer__block-logo {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer__block-inner {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  margin-top: 8px;
}
.footer__block .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.footer__block .social__list:not(:first-child) {
  margin-left: 32px;
}
.footer__block .social__list-link {
  display: block;
  color: #FFFFFF;
}
.footer__block .social__list-link:hover {
  color: #5373FD;
  transition: all 200ms ease-in-out;
}
.footer__block .social__list-link .icon {
  width: 32px;
  height: 32px;
}

.btn {
  background: #5373FD;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 16px 24px;
  text-transform: uppercase;
}
.btn-search {
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
}
.btn-search:hover {
  background: #333333;
  transition: all 300ms ease-in-out;
}
.btn-search:hover .icon {
  transform: scale(2, 2);
  transition: all 500ms ease-in-out;
}
.btn-search .icon {
  width: 16px;
  height: 16px;
  margin-right: 12px;
  color: #FFFFFF;
}
.btn-scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  cursor: pointer;
}
.btn-scroll:hover {
  transform: translate(-50%) scale(2, 2);
  opacity: 0.7;
  transition: all 500ms ease-in-out;
}
.btn-scroll .icon {
  width: 14px;
  height: 16px;
  margin-top: 4px;
}
.btn__inner {
  font-size: 16px;
  letter-spacing: 0.07em;
}
.btn__inner:hover {
  background: #FFFFFF;
  color: #333333;
  transition: all 500ms ease-in-out;
}

a {
  text-decoration: none;
}

.logo {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .logo {
    display: none;
  }
}

.nav-link {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
}
.nav-link::after {
  display: block;
  content: "";
  width: 70%;
  height: 1px;
  position: absolute;
  left: 50%;
  transition: all 300ms ease-in-out;
  transform: translate(-50%) scale3d(0, 1, 1);
  bottom: -10px;
  background: #333333;
}
.nav-link:hover {
  color: #333333;
}
.nav-link:hover::after {
  transform: translate(-50%) scale3d(1, 1, 1);
}/*# sourceMappingURL=style.css.map */