@import "./reset";
@import "./fonts";
@import "./variables";
@import "./typography";

* {
    box-sizing: border-box;
}

body {
    color: $default-color-white;
    font-family: $primary-font-text;
    font-size: $default-font-size;
    min-width: $mobile;
    margin: 0 auto;
}

.wrapper {
    max-width: $max-content-width;
    margin: 0 auto;

    @media screen and (max-width:$desktop) {
        padding: 0 110px;
    }

    @media screen and (max-width:$desktop-small) {
        padding: 0 32px;
    }

    @media screen and (max-width:$tablet) {
        padding: 0 24px;
    }
}