@import "./reset";
@import "./fonts";
@import "./variables";
@import "./typography";

* {
    box-sizing: border-box;
}

body {
    background: $color-grafit;
    color: $default-color-white;
    font-family: $primary-font-text;
    font-size: $default-font-size;
    min-width: 375px;
    max-width: $desktop-big;
    margin: 0 auto;
}

.wrapper {
    margin: 0 auto;

    @media screen and (max-width:$desktop-big) {
        max-width: $max-content-width;
    }

    @media screen and (max-width:$desktop) {
        padding: 0 110px;
    }

    @media screen and (max-width:$desktop-small) {
        padding: 0 32px;
    }

    @media screen and (max-width:$tablet) {
        padding: 0 24px;
    }

    @media screen and (max-width:$mobile) {
        padding: 0 18px;
    }
}