// fonts

$primary-font-text:     'Josefin Sans', sans-serif;
$primary-font-title:    'Aleo', serif;

// font-size

$default-font-size:      16px;
$font-size-btn:          14px;

// color

$default-color-white:   #FFFFFF;
$color-black:           #000000;
$color-blue:            #5373FD;
$color-red:             #FF6363;
$color-blue-light:      #00A2FF;
$color-grafit:          #333333;
$color-grey:            #999999;
$color-background:      rgba(35, 35, 35, 0.9);

// breakpoints

$desktop:               1360px;
$desktop-small-end:     $desktop - 1;
$desktop-small:         1024px;
$tablet-end:            $desktop-small - 1;
$tablet-half:           900px;
$tablet:                768px;
$mobile-end:            $tablet - 1;
$mobile:                576px;

// width   
   
$max-content-width:     1320px;