.first-now {
    background-image: url(../images/image/render.png);
    display: flex;
}

.description {
    background: $color-background;
    padding: 44px 32px;
    max-width: 49%;

    @media screen and (max-width: $desktop-small) {
        max-width: 57.3%;
    }

    @media screen and (max-width: $tablet) {
        max-width: 100%;
    }

    &__country {
        font-weight: 300;
        font-size: $default_font-subtitle;
        line-height: 28px;
        letter-spacing: 0.1em;
    }

    &__title {
        font-weight: 400;
        font-size: $default_font-subtitle;
        line-height: 28px;
        text-transform: uppercase;
        margin: 16px 0;
    }
}