.footer__block {
    padding: 80px 0;
    text-align: center;

    &-inner {
        font-family: 'Josefin Sans';
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2em;
        margin-top: 8px;
    }

    .social {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        &__list {
            &:not(:first-child) {
                margin-left: 32px;
            }

            &-link {
                color: $default-color-white;

                &:hover {
                    color: $color-blue;
                }

                .icon {
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}