.header {
    background-image: url(../images/image/HeaderBackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    height: 44.9vw;
    position: relative;

    @media screen and (max-width:$desktop) {
    height: 63.4vw;
    }

    @media screen and (max-width:$desktop-small) {
    height: 84.2vw;
    }

    @media screen and (max-width:$tablet) {
        height: 112.2vw;
    }

    @media screen and (max-width:$mobile) {
    height: 149.7vw;
    }

    &__block {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 34%;
        left: 50%;
        transform: translate(-50%);
         
        @media screen and (max-width:$tablet) {
            padding: 0 18px;
        }
    }

    &__btn {
        position: absolute;
        left: 50%;
        bottom: 14%;
        transform: translate(-50%);
    }
}