.header {
    background-image: url(../../images/img/HeaderBackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    height: 100vh;
    position: relative;

    &__block {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 31%;
        left: 50%;
        transform: translate(-50%);
        position: relative;
    }

    &__btn {
        position: absolute;
        left: 50%;
        bottom: 15%;
        transform: translate(-50%);
    }
}