.navigation {
    background: $color-blue;
    padding: 32px 0;

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width:$tablet-half) {
           flex-direction: column;
           gap: 30px;
        }
    }
}

.menu {

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-item {

            &:not(:first-child) {
                margin-left: 40px;
            }
        }
    }
}

