.search {
    display: flex;
    margin: 0 auto;
    background: $default-color-white;
    width: 647px;

    @media screen and (max-width:$mobile-end) {
        width: 94%;
    }

    &__form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px 5px;
        width: 100%;

        &-item {
            border: none;
            color: $color-grey;
            font-family: $primary-font-text;
            font-weight: 400;
            font-size: $font-size-btn;
            line-height: 20px;
            letter-spacing: 0.2em;
            margin-left: 36px;

            &:focus {
                outline: none;
            }
        }

        &-search {
            margin-left: auto;

        }
    }
}