.second-now {
    background-image: url(../images/image/spain.png);

    &__inner {
        display: flex;
        flex-direction: row-reverse;

        @media screen and (max-width: $tablet) {
            flex-direction: row;
        }
    }
}

.book-now {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    padding: 220px 0 120px;

    @media screen and (max-width: $tablet) {
        padding: 120px 0;
    }
}