.social {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    &__list {
        &:not(:first-child) {
            margin-left: 32px;
        }

        &-link {
            display: block;
            color: $default-color-white;

            &:hover {
                color: $color-blue;
                transition: all 200ms ease-in-out;
            }

            .icon {
                width: 32px;
                height: 32px;
            }
        }
    }
}