.search__form-btn {
    display: flex;
    align-items: center;
    background: $color-blue;
    border: none;
    color: $default-color-white;
    cursor: pointer;
    font-family: $primary-font-title;
    font-weight: 400;
    font-size: $font-size-btn;
    line-height: 20px;
    letter-spacing: 0.1em;
    margin: 4px 5px;
    padding: 16px 24px;
    text-transform: uppercase;

    &:hover {
        opacity: .8;
        transition: all 300ms ease-in-out;
    }

    .icon {
        width: 16px;
        height: 16px;
        margin-right: 12px;
        color: $default-color-white;
    }
}

.scroll-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background: transparent;
    font-family: $primary-font-text;
    font-weight: 400;
    font-size: $font-size-btn;
    line-height: 20px;
    letter-spacing: 0.2em;
    color: $default-color-white;
    cursor: pointer;

    &:hover {
        opacity: .7;
        transition: all 300ms ease-in-out;
    }
   
    .icon {
        width: 14px;
        height: 16px;
        margin-top: 4px;
    }
}   